body {
  text-align:center ;
  color: black;
}

p{ 
  background-color:#CC9966;
  padding-top:100px; 
  padding-left:100px; 
  padding-right:100px; 
  padding-bottom:100px; 
  margin-top:500px; 
  margin-left:500px; 
  margin-right:500px; 
  margin-bottom:500px;   
}

.video-back{ 
position:fixed;
top:0;   
left:0;
min-width:100%;
min-height:100%;
z-index:-2;  
}

div{ 
  background-color: green;
  padding-top:10px; 
  padding-left:60px; 
  padding-right:60px; 
  padding-bottom:10px; 
  margin-top:30px; 
  margin-left:500px; 
  margin-right:500px; 
  margin-bottom:30px; 
  border: 50px solid 006660; 
}

h1{
  font-size:39pt ;
  text-align:center ;
  color: #663300;
}
h2{
  font-size:99pt ;
  text-align:center ;
  color: #775599;
}

img {
  display: block;
  margin: 100 auto;
}

